astropy==4.0
astroquery==0.4
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==3.2
ephem==3.7.7.0
ffmpy==0.2.2
future==0.18.2
geographiclib==1.50
geojson==2.5.0
geopy==1.20.0
html5lib==1.0.1
idna==2.8
keyring==21.1.0
numpy==1.18.1
pycparser==2.19
pyowm==2.10.0
python-telegram-bot==12.3.0
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
tornado==6.0.3
urllib3==1.25.8
webencodings==0.5.1
